<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Teste - EBAO</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand">Teste - Boleto : Uniliva</a>
			</div>
		</div>
	</nav>
	<div class="container">

		<div class="panel panel-default">
			<div class="panel-body">
				<form action="#" th:action="@{/boletos-v2}" th:object="${filterDto}"
					method="GET">
					<div class="row">
						<div class='col-sm-3'>
							<div class="form-group">
								Status do boleto: <select th:field="*{status}"
									class="form-control">
									<option th:each="option : ${statusOptions}"
										th:value="${option}" th:text="${option}"
										th:selected="${option == filtroStatus}"></option>
								</select>
							</div>
						</div>
						<div class='col-sm-3'>
							<div class="form-group">
								Data do ajuste:
								<div class="form-group">
									<input class="datepicker" th:field="*{date}"
										data-date-format="mm/dd/yyyy">
								</div>
							</div>
						</div>
						<div class='col-sm-4'>
							<div class="form-group">
								<br />
								<div class="form-group">
									<button type="submit" class="btn btn-default ">
										<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
										Buscar
									</button>

								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>



		<div th:if="${mapBill.isEmpty()}">
			<div class="alert alert-danger" role="alert">Nenhum boleto
				encontrado</div>
		</div>
		<div th:unless="${mapBill.isEmpty()}">
			<div class="panel panel-default">
				<div class="panel-body" style="padding: 10px">

					<div th:each="Mbill: ${mapBill}">

						<div class="panel panel-default" style="margin-bottom: 5px;">
							<div th:attr="data-target='#accordion_'+${Mbill.key}"
								data-toggle="collapse" aria-expanded="true"
								class=" panel-heading accordion-toggle"
								style="cursor: pointer; padding-top: 0px; padding-bottom: 0px;">
								<div class="panel-title row">
									<div class="col-sm-1">
										<h5>
											<strong>Codigo:</strong>
										</h5>
									</div>
									<div class="col-sm-1">
										<h5>
											<span th:text="${Mbill.value[0].id}"></span>
										</h5>
									</div>
									<div class="col-sm-1">
										<h5>
											<strong>Valor:</strong>
										</h5>
									</div>
									<div class="col-sm-2">
										<h5>
											<span th:text="${Mbill.value[0].amount}"></span>
										</h5>
									</div>
									<div class="col-sm-2">
										<h5>
											<strong>Data Vencimento:</strong>
										</h5>
									</div>

									<div class="col-sm-3">
										<h5>
											<span
												th:text="${#dates.format(Mbill.value[0].dueDate, 'dd-MM-yyyy')}"></span>
										</h5>
									</div>
								</div>
							</div>

							<div class="accordion-body collapse"
								th:id="'accordion_'+${Mbill.key}">
								<div class="panel-body" style="padding: 5px">
									<table class="table table-striped table-bordered"
										style="margin-bottom: 0px;">
										<thead>
											<tr>
												<th>ID</th>
												<th>Data Emissão</th>
												<th>Valor</th>
												<th>Data Vencimento</th>
												<th>Ajuste ID</th>
												<th>Status</th>
												<th>Data do Ajuste</th>
											</tr>
										</thead>
										<tbody>

											<tr th:each="bill : ${Mbill.value}">
												<td><span th:text="${bill.id}"></span></td>
												<td><span
													th:text="${#dates.format(bill.createDate, 'dd-MM-yyyy')}"></span></td>
												<td><span th:text="${bill.amount}"></span></td>
												<td><span
													th:text="${#dates.format(bill.dueDate, 'dd-MM-yyyy')}"></span></td>
												<td><span th:text="${bill.idAdjustment}"> </span></td>
												<td
													th:style="${bill.status == T(br.com.uniliva.ebao.enums.Status).ATIVO ? 'background: #D4EDDA;' : 'background: #F8D7DA;'}"><span
													th:text="${bill.status}"></span></td>
												<td><span
													th:text="${#dates.format(bill.adjustmentDate, 'dd-MM-yyyy')}"></span></td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>


	</div>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript">
		$('.datepicker').datepicker({
			format : 'dd-mm-yyyy'
		});
	</script>
</body>
</html>